<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    
    <div class="banner"></div>

    <div class="cms-content">
        <div class="container-fluid no-lr-padding">
            <div class="col-md-4 col-sm-5 no-lr-padding">
                {% include left-menu.html %}
            </div>
            <div class="col-md-8 col-sm-7">
                <div class="main-container-content">
                    <h1 class="post-title">{{ page.title }}</h1>
                    {{ content }}
                    {% if page.content-image %}
                        <br/>
                        <img src="{{ page.content-image | prepend: site.baseurl }}" alt="{{ page.title }}">
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    <script>
        // $(function(){
            
        //     setTimeout(function(){

        //         var body = document.body,
        //         html = document.documentElement;
        //         var height = Math.max( body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight );
        //         $('#left-menu').css('height', height-$('.banner').height())
        //     }, 200)
        // })
    </script>
  </body>

</html>
